---
name: Update A2A Schema from Specification
on:
  repository_dispatch:
    types: [a2a_json_update]
  workflow_dispatch:
jobs:
  generate_and_pr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Configure uv shell
        run: echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - name: Install dependencies
        run: uv sync
      - name: Install Buf
        uses: bufbuild/buf-setup-action@v1
      - name: Run buf generate
        run: |
          set -euo pipefail  # Exit immediately if a command exits with a non-zero status
          echo "Running buf generate..."
          buf generate
          uv run scripts/grpc_gen_post_processor.py
          echo "Buf generate finished."
      - name: Create Pull Request with Updates
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.A2A_BOT_PAT }}
          committer: a2a-bot <a2a-bot@google.com>
          author: a2a-bot <a2a-bot@google.com>
          commit-message: "${{ github.event.client_payload.message }}"
          title: "chore(spec): ${{ github.event.client_payload.message }}"
          body: |
            Commit: https://github.com/a2aproject/A2A/commit/${{ github.event.client_payload.sha }}
          branch: auto-update-a2a-types-${{ github.event.client_payload.sha }}
          base: main
          labels: |
            automated
            dependencies
          add-paths: |-
            src/a2a/types/
